# Member Compare Current Pull with Last Submission

In [5]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [32]:
file_name = 'Member'

path_prev = f'../../data/past_submission/HP_{file_name}_20210921.txt'
path_now = f'../../output/HP_{file_name}_20211104.txt'

dtype = {'memphone1':str}

df_prev = pd.read_csv(path_prev, sep='|', low_memory=False, dtype=dtype)
df = pd.read_csv(path_now, sep='|', low_memory=False, dtype=dtype)

In [33]:
print(df_prev.shape)

n = len(df_prev['memnbr'].unique())
print(f'{n} unique memnbr')

display(df_prev.head(3))

(12520, 32)
12497 unique memnbr

,memnbr,memlname,memfname,memmname,memdob,memgender,subscribernbr,mcr_pbp,HICN,MRN,memaddr1,memaddr2,memaddr3,memcity,memstate,memzip,memphone1,race,race_source,ethnicity,ethnicity_source,spoken_language_s,written_language_s,other_language_s,spoken_language,written_language,other_language,guardian_lname,guardian_fname,guardian_mname,mcr_snp_type,plan_employee
0,1A05CC7XY50,PUMILIA,FRANK,J,19330708,M,1A05CC7XY50,7,1A05CC7XY50,NaN,6727 TERRENO DR,NaN,NaN,RANCHO MURIETA,CA,95683.0,9163542466,NaN,NaN,NaN,NaN,ENG,ENG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1A14RA9QG85,NGUYEN,TRINA,NaN,19560824,F,1A14RA9QG85,9,1A14RA9QG85,NaN,212 MALCOLM DR,NaN,NaN,RICHMOND,CA,94801.0,5102299459,NaN,NaN,NaN,NaN,VIE,VIE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1A15GQ4GY59,PRESTON OWENS,NICOLE,M,19660907,F,1A15GQ4GY59,11,1A15GQ4GY59,NaN,7356 FLOWERWOOD WAY,NaN,NaN,SACRAMENTO,CA,95831.0,9168263442,NaN,NaN,NaN,NaN,ENG,ENG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
print(df.shape)

n = len(df['memnbr'].unique())
print(f'{n} unique memnbr')

display(df.head(3))

(6372, 32)
6185 unique memnbr

,memnbr,memlname,memfname,memmname,memdob,memgender,subscribernbr,mcr_pbp,HICN,MRN,memaddr1,memaddr2,memaddr3,memcity,memstate,memzip,memphone1,race,race_source,ethnicity,ethnicity_source,spoken_language_s,written_language_s,other_language_s,spoken_language,written_language,other_language,guardian_lname,guardian_fname,guardian_mname,mcr_snp_type,plan_employee
0,1A05CC7XY50,PUMILIA,FRANK,J,19330708,M,1A05CC7XY50,7,1A05CC7XY50,NaN,6727 TERRENO DR,NaN,NaN,RANCHO MURIETA,CA,95683,9163542466,NaN,NaN,NaN,NaN,ENG,ENG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1A15UE0GY89,PHUONG,JOHNNY,NaN,19521115,M,1A15UE0GY89,9,1A15UE0GY89,NaN,1254 24TH AVE APT 2,NaN,NaN,SAN FRANCISCO,CA,94122,7143835399,NaN,NaN,NaN,NaN,CHI,CHI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1A16G46QH85,PHAM,NGUYET,T,19490803,F,1A16G46QH85,7,1A16G46QH85,NaN,43753 CAMERON HILLS DR,NaN,NaN,FREMONT,CA,94539,4085681562,NaN,NaN,NaN,NaN,ENG,ENG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_inspect = df[['memnbr']].drop_duplicates()\
    .merge(df_prev[['memnbr']].drop_duplicates(), on='memnbr', how='left', indicator=True)

n = df_inspect.query('_merge == "left_only"')['memnbr'].count()
print(f'Current submission not found in previous submission: {n}')

Current submission not found in previous submission: 175

In [10]:
df_inspect['_merge'].value_counts()

both          11674
left_only       175
right_only        0
Name: _merge, dtype: int64

In [11]:
df_inspect = df_prev[['memnbr']].drop_duplicates()\
    .merge(df[['memnbr']].drop_duplicates(), on='memnbr', how='left', indicator=True)

n = df_inspect.query('_merge == "left_only"')['memnbr'].count()
print(f'Current submission not found in previous submission: {n}')

Current submission not found in previous submission: 823

In [12]:
df_inspect['_merge'].value_counts()

both          11674
left_only       823
right_only        0
Name: _merge, dtype: int64

In [13]:
df_inspect.query('_merge == "left_only"')

            memnbr     _merge
26     1AC4RC3WP91  left_only
43     1AJ5W26TP57  left_only
66     1C32H41YQ24  left_only
68     1C35D04CT75  left_only
78     1C78K88DN36  left_only
...            ...        ...
12466  9XD5VD9QQ73  left_only
12474  9XN8RC1TH25  left_only
12475  9XQ7TC3QP62  left_only
12477  9XR8PC0YJ29  left_only
12478  9XT8VJ3RN43  left_only

[823 rows x 2 columns]

In [27]:
df_prev.query('memnbr == "1Q09W15CE12"')

,memnbr,memlname,memfname,memmname,memdob,memgender,subscribernbr,mcr_pbp,HICN,MRN,memaddr1,memaddr2,memaddr3,memcity,memstate,memzip,memphone1,race,race_source,ethnicity,ethnicity_source,spoken_language_s,written_language_s,other_language_s,spoken_language,written_language,other_language,guardian_lname,guardian_fname,guardian_mname,mcr_snp_type,plan_employee
597,1Q09W15CE12,LAW,DAVID,K,19471024,M,1Q09W15CE12,7,1Q09W15CE12,NaN,142 GENEVA AVE,NaN,NaN,SAN FRANCISCO,CA,94112.0,4158600201,NaN,NaN,NaN,NaN,ENG,ENG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df.query('memnbr == "1Q09W15CE12"')

,memnbr,memlname,memfname,memmname,memdob,memgender,subscribernbr,mcr_pbp,HICN,MRN,memaddr1,memaddr2,memaddr3,memcity,memstate,memzip,memphone1,race,race_source,ethnicity,ethnicity_source,spoken_language_s,written_language_s,other_language_s,spoken_language,written_language,other_language,guardian_lname,guardian_fname,guardian_mname,mcr_snp_type,plan_employee
593,1Q09W15CE12,LAW,DAVID,K,19471024,M,1Q09W15CE12,7,1Q09W15CE12,NaN,142 GENEVA AVE,NaN,NaN,SAN FRANCISCO,CA,94112.0,4158600201,NaN,NaN,NaN,NaN,ENG,ENG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN