# KS Claim Compare Current Pull with Last Submission

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
file_name = 'HP_Claim_KS'

path_prev = f'../data/past_submission/{file_name}_20210921.txt'
path_now = f'../output/{file_name}_20211025.txt'

dtype = {'provnbr':str}

df_prev = pd.read_csv(path_prev, sep='|', low_memory=False, dtype=dtype)
df = pd.read_csv(path_now, sep='|', low_memory=False, dtype=dtype)

In [3]:
print(df_prev.shape)
display(df_prev.head(3))

(188728, 53)

,memnbr,claimid,linenbr,fromdt,thrudt,provnbr,provspec,cpt,cptmod1,cptmod2,hcpcs,cpt-ii,cpt-iimod,rev,drg,billtype,factype,pos,tos,dsc,occ_code,icd_format,diag1,diag2,diag3,diag4,diag5,diag6,diag7,diag8,diag9,diag10,diag11,diag12,diag13,diag14,diag15,diag16,diag17,diag18,diag19,diag20,surgproc1,surgproc2,surgproc3,surgproc4,surgproc5,surgproc6,claim_status,covered_days,units,source,src_ind
0,1A99UU1KN20,100103847,1,01/04/2020,NaN,1578763462,NaN,1CFK3,NaN,NaN,NaN,NaN,NaN,23.0,NaN,NaN,NaN,32,NaN,NaN,NaN,10,E11621,L97522,Z4800,I739,E1140,I129,E1121,N182,E669,Z6830,Z7984,61,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1.0,P,NaN
1,1A99UU1KN20,100103847,2,01/05/2020,NaN,1578763462,NaN,G0299,NaN,NaN,NaN,NaN,NaN,551.0,NaN,NaN,NaN,32,NaN,NaN,NaN,10,E11621,L97522,Z4800,I739,E1140,I129,E1121,N182,E669,Z6830,Z7984,61,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1.0,P,NaN
2,1A99UU1KN20,100103847,3,01/06/2020,NaN,1578763462,NaN,G0299,NaN,NaN,NaN,NaN,NaN,551.0,NaN,NaN,NaN,32,NaN,NaN,NaN,10,E11621,L97522,Z4800,I739,E1140,I129,E1121,N182,E669,Z6830,Z7984,61,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1.0,P,NaN

In [4]:
print(df.shape)
display(df.head(3))

(202458, 53)

,memnbr,claimid,linenbr,fromdt,thrudt,provnbr,provspec,cptt,cptmod1,cptmod2,hcpcs,cpt-ii,cpt-iimod,rev,drg,billtype,factype,pos,tos,dsc,occ_code,icd_format,diag1,diag2,diag3,diag4,diag5,diag6,diag7,diag8,diag9,diag10,diag11,diag12,diag13,diag14,diag15,diag16,diag17,diag18,diag19,diag20,surgproc1,surgproc2,surgproc3,surgproc4,surgproc5,surgproc6,claim_status,covered_days,units,source,src_ind
0,1A99UU1KN20,100103847,1,01/04/2020,NaN,1578763462,NaN,1CFK3,NaN,NaN,NaN,NaN,NaN,23.0,NaN,NaN,NaN,32,NaN,NaN,NaN,10,E11621,L97522,Z4800,I739,E1140,I129,E1121,N182,E669,Z6830,Z7984,61,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1.0,P,NaN
1,1A99UU1KN20,100103847,2,01/05/2020,NaN,1578763462,NaN,G0299,NaN,NaN,NaN,NaN,NaN,551.0,NaN,NaN,NaN,32,NaN,NaN,NaN,10,E11621,L97522,Z4800,I739,E1140,I129,E1121,N182,E669,Z6830,Z7984,61,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1.0,P,NaN
2,1A99UU1KN20,100103847,3,01/06/2020,NaN,1578763462,NaN,G0299,NaN,NaN,NaN,NaN,NaN,551.0,NaN,NaN,NaN,32,NaN,NaN,NaN,10,E11621,L97522,Z4800,I739,E1140,I129,E1121,N182,E669,Z6830,Z7984,61,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1.0,P,NaN

In [5]:
df_inspect = df[['claimid', 'fromdt']].drop_duplicates()\
    .merge(df_prev[['claimid']].drop_duplicates(), on='claimid', how='left', indicator=True)

df_inspect['year'] = df_inspect['fromdt'].str[-4:].astype(int)
df_inspect['month'] = df_inspect['fromdt'].str[:2].astype(int)

n = df_inspect.query('_merge == "left_only"')['claimid'].count()
print(f'Current submission not found in previous submission: {n}')
display(df_inspect.query('_merge == "left_only"').groupby(['year'])['claimid'].count().to_frame())
display(df_inspect.query('_merge == "left_only"').groupby(['year', 'month'])['claimid'].count().to_frame())

Current submission not found in previous submission: 4820

      claimid
year
1900       45
2020      255
2021     4520

            claimid
year month
1900 1           45
2020 1            4
     2            1
     3            6
     4           74
     5           23
     6           18
     7           18
     8           12
     9           14
     10          31
     11          23
     12          31
2021 1           48
     2           73
     3          121
     4          134
     5          164
     6          254
     7          483
     8         1474
     9         1637
     10         132

In [6]:
df_inspect['_merge'].value_counts()

both          67311
left_only      4820
right_only        0
Name: _merge, dtype: int64

In [7]:
df_inspect = df_prev[['claimid', 'fromdt']].drop_duplicates()\
    .merge(df[['claimid']].drop_duplicates(), on='claimid', how='left', indicator=True)
df_inspect['year'] = df_inspect['fromdt'].str[-4:].astype(int)
df_inspect['month'] = df_inspect['fromdt'].str[:2].astype(int)

n = df_inspect.query('_merge == "left_only"')['claimid'].count()
print(f'Previous submission not found in current submission: {n}')
display(df_inspect.query('_merge == "left_only"').groupby(['year'])['claimid'].count().to_frame())
display(df_inspect.query('_merge == "left_only"').groupby(['year', 'month'])['claimid'].count().to_frame())

Previous submission not found in current submission: 0

Empty DataFrame
Columns: [claimid]
Index: []

Empty DataFrame
Columns: [claimid]
Index: []

In [8]:
df_inspect['_merge'].value_counts()

both          67290
left_only         0
right_only        0
Name: _merge, dtype: int64