# EZCAP Claim Compare Current Pull with Last Submission

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
file_name = 'HP_Claim_EZCAP'

path_prev = f'../data/past_submission/{file_name}_20210921.txt'
path_now = f'../output/{file_name}_20211025.txt'

df_prev = pd.read_csv(path_prev, sep='|', low_memory=False)
df = pd.read_csv(path_now, sep='|', low_memory=False)

In [3]:
print(df_prev.shape)
display(df_prev.head(3))

(535042, 53)

,memnbr,claimid,linenbr,fromdt,thrudt,provnbr,provspec,cpt,cptmod1,cptmod2,hcpcs,cpt_ii,cpt_iimod,rev,drg,billtype,factype,pos,tos,dsc,occ_code,icd_format,diag1,diag2,diag3,diag4,diag5,diag6,diag7,diag8,diag9,diag10,diag11,diag12,diag13,diag14,diag15,diag16,diag17,diag18,diag19,diag20,surgproc1,surgproc2,surgproc3,surgproc4,surgproc5,surgproc6,claim_status,covered_days,units,source,src_ind
0,8DF6AA4HU60,19010201800002500001,1,10/09/2018,10/09/2018,1205988854,99.0,G0151,NaN,NaN,NaN,NaN,NaN,0421,NaN,322,NaN,12.0,NaN,NaN,NaN,10,G8929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,3,P,NaN
1,8DF6AA4HU60,19010201800002500001,2,10/10/2018,10/10/2018,1205988854,99.0,G0151,NaN,NaN,NaN,NaN,NaN,0421,NaN,322,NaN,12.0,NaN,NaN,NaN,10,NaN,G8929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,3,P,NaN
2,8DF6AA4HU60,19010201800002500001,3,10/11/2018,10/11/2018,1205988854,99.0,G0151,NaN,NaN,NaN,NaN,NaN,0421,NaN,322,NaN,12.0,NaN,NaN,NaN,10,NaN,NaN,G8929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,3,P,NaN

In [4]:
print(df.shape)
display(df.head(3))

(580420, 53)

,memnbr,claimid,linenbr,fromdt,thrudt,provnbr,provspec,cpt,cptmod1,cptmod2,hcpcs,cpt_ii,cpt_iimod,rev,drg,billtype,factype,pos,tos,dsc,occ_code,icd_format,diag1,diag2,diag3,diag4,diag5,diag6,diag7,diag8,diag9,diag10,diag11,diag12,diag13,diag14,diag15,diag16,diag17,diag18,diag19,diag20,surgproc1,surgproc2,surgproc3,surgproc4,surgproc5,surgproc6,claim_status,covered_days,units,source,src_ind
0,8DF6AA4HU60,19010201800002500001,1,10/09/2018,10/09/2018,1205988854,99.0,G0151,NaN,NaN,NaN,NaN,NaN,0421,NaN,322.0,NaN,12.0,NaN,NaN,NaN,10,G8929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,3,P,NaN
1,8DF6AA4HU60,19010201800002500001,2,10/10/2018,10/10/2018,1205988854,99.0,G0151,NaN,NaN,NaN,NaN,NaN,0421,NaN,322.0,NaN,12.0,NaN,NaN,NaN,10,NaN,G8929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,3,P,NaN
2,8DF6AA4HU60,19010201800002500001,3,10/11/2018,10/11/2018,1205988854,99.0,G0151,NaN,NaN,NaN,NaN,NaN,0421,NaN,322.0,NaN,12.0,NaN,NaN,NaN,10,NaN,NaN,G8929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,3,P,NaN

In [5]:
df_inspect = df[['claimid', 'fromdt']].drop_duplicates()\
    .merge(df_prev[['claimid']].drop_duplicates(), on='claimid', how='left', indicator=True)
df_inspect['year'] = df_inspect['fromdt'].str[-4:].astype(int)
df_inspect['month'] = df_inspect['fromdt'].str[:2].astype(int)

n = df_inspect.query('_merge == "left_only"')['claimid'].count()
print(f'Current submission not found in previous submission: {n}')
display(df_inspect.query('_merge == "left_only"').groupby(['year'])['claimid'].count().to_frame())
display(df_inspect.query('_merge == "left_only"').groupby(['year', 'month'])['claimid'].count().to_frame())

Current submission not found in previous submission: 12691

      claimid
year
2019        9
2020      530
2021    12152

            claimid
year month
2019 9            1
     10           1
     11           2
     12           5
2020 1           11
     2            4
     3            5
     4            9
     5           18
     6           20
     7           35
     8           28
     9           55
     10         107
     11         134
     12         104
2021 1          146
     2          272
     3          329
     4          365
     5          442
     6          560
     7          999
     8         2179
     9         5045
     10        1815

In [6]:
df_inspect = df_prev[['claimid', 'fromdt']].drop_duplicates()\
    .merge(df[['claimid']].drop_duplicates(), on='claimid', how='left', indicator=True)
df_inspect['year'] = df_inspect['fromdt'].str[-4:].astype(int)
df_inspect['month'] = df_inspect['fromdt'].str[:2].astype(int)

n = df_inspect.query('_merge == "left_only"')['claimid'].count()
print(f'Previous submission not found in current submission: {n}')
display(df_inspect.query('_merge == "left_only"').groupby(['year'])['claimid'].count().to_frame())
display(df_inspect.query('_merge == "left_only"').groupby(['year', 'month'])['claimid'].count().to_frame())

Previous submission not found in current submission: 0

Empty DataFrame
Columns: [claimid]
Index: []

Empty DataFrame
Columns: [claimid]
Index: []